<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- <xacro:property name="joint_material" value="0.019608 0.32549 1 1" /> -->

    <xacro:macro name="R105" params="prefix parent_connection input *origin
      mass='1.6'
      ixx='0.005898' ixy='0' ixz='0' iyy='0.003584' iyz='0.000096' izz='0.005765'
      effort='10' velocity='1' lower='-3.141593' upper='3.141593'">
      
      <!-- Actual joint geometry -->
      <link name="${prefix}_R105_link">
        <visual>
          <origin xyz="0 0 0" rpy="1.570796 0 0" />
          <geometry><mesh filename="file://$(find R105_description)/meshes/R105_visual.glb" /></geometry>
          <!-- <material name="joint_material" /> -->
        </visual>
        <collision>
          <origin xyz="0 -0.004 -0.002376" rpy="0 0 0" />
          <geometry>
            <cylinder radius="0.058998" length="0.202421" />
          </geometry>
        </collision>
        <inertial>
          <mass value="${mass}" />
          <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
        </inertial>
      </link>

      <joint name="${prefix}" type="revolute">
        <origin xyz="0 0.09873 0" rpy="1.570796 1.570796 0.0" />
        <parent link="${prefix}_R105_link" />
        <child link="${prefix}_joint_out" />
        <axis xyz="0 0 1" />
        <limit effort="${effort}" velocity="${velocity}" lower="${lower}" upper="${upper}" />
      </joint>
      
      <joint name="${prefix}_joint_in_joint" type="fixed">
        <origin xyz="0 0 0.06257" rpy="0 0 -1.570796" />
        <parent link="${prefix}_joint_in" />
        <child link="${prefix}_R105_link" />
      </joint>
      
      <!-- Empty links to attach child joints to the input or output of this joint -->
      <link name="${prefix}_joint_in" />
      <link name="${prefix}_joint_out" />
      
      <!-- attatch output of parent to input of this joint -->
      <xacro:if value="${input == 'joint_in'}">
        <joint name="${parent_connection}_to_${prefix}_joint" type="fixed">
          <xacro:insert_block name="origin" />
          <parent link="${parent_connection}" />
          <child link="${prefix}_joint_in" />
        </joint>
      </xacro:if>

      <!-- attatch input of parent to output of this joint -->
      <xacro:if value="${input == 'joint_out'}">
        <joint name="${prefix}_to_${parent_connection}_joint" type="fixed">
          <xacro:insert_block name="origin" />
          <parent link="${prefix}_joint_out" />
          <child link="${parent_connection}" />
        </joint>
      </xacro:if>

  </xacro:macro>
</robot>
